.bicycle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicycle .title p {
    text-transform: uppercase;
}

.bicycle-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicycle-images img {
  flex: 1;
  min-width: 200px;
}

.bicycle-images img:first-child {
  min-width: 100%;
}

.bicycle-content > p {
  margin-bottom: 32px;
}

.buy-bicycle {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.buy-bicycle a {
  grid-row: span 2;
}

.buy-bicycle span {
  display: flex;
  align-items: center;
  background-color: var(--color-12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bicycle-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bicycle-info,
.bicycle-sheet {
  padding: 32px;
  background-color: var(--color-12);
  border-radius: 4px;
}

.bicycle-info {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;    
}

.bicycle-info img {
    width: 24px;
    margin-bottom: 8px;
}

.bicycle-info h3 {
    margin-bottom: 8px;
}


.bicycle-sheet li {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-11);
}

.bicycle-sheet li:last-child {
    border-bottom: none;
}

.bicycle-sheet span {
    color: var(--color-6);
}

@media (max-width: 800px) {
    .bicycle {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicycle-images {
        grid-row: 2;
    }

}

@media (max-width: 400px) {
    .bicycle-info {
        grid-template-columns: 1fr;
    }

    .buy-bicycle {
        grid-template-columns: 1fr;
    }
}
